# Terraform
**/.terraform/
**/.terraform.lock.hcl
**/terraform.tfstate
**/terraform.tfstate.backup
**/terraform.tfstate.*.backup
**/.terraform.tfstate.lock.info
**/terraform.tfvars
**/backend.tfvars
**/*.tfplan
**/*.tfplan.json
**/.terraformrc
**/terraform.rc
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp
*.swo
